.feature-box {

    background-color: rgba($color-white,.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition : all .2s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {

        font-size: 6rem;
        line-height : 2 !important;
        background-image: linear-gradient(to right , $color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

            
        @include respond(tab-port) {
            margin-bottom: 0;
        }

    }

    &__icon::after {
        content: "";
        position: absolute;
        margin-bottom: 1rem;
    }

    &__text {
        }


    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
        background-color: rgba($color: $color-white , $alpha: 0.9)
    }

}

